html, body {
    background-color: #a7a7a7;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    height:100%;
    transition: background-color 1s;
}
path, .FGtitle, .FGbox1, tspan {
    transition: background-color 1s;
}
#speedometer {
    margin-bottom: -60px;
}
